/* .add-todo-button {
  position: fixed;
  right: -5px;
  bottom: 0;
  z-index: 100;
  width: 100px;
  height: 100px;
  cursor: pointer;
  font-size: 5rem;
} */
/* 
.App {
  width: 358px;
  height: 730px;
  margin: 2rem auto 0 auto;
  /* padding-top: 20px;
  max-height: 100vh; */
/*  border: 0.5px solid;
  border-radius: 30px;
  background: #fbfbff;
  overflow: hidden;
  padding: 10px 30px;
} */
